
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/TempPE/Data.SavingMgrDb.designer.cs.dll
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
