
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/TempPE/Data.SavingMgrDb.designer.cs.dll
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
/.vs/SavingsManager/v15/Server/sqlite3
bin/Antlr3.Runtime.dll
*.dll
*.dll
bin/Antlr3.Runtime.pdb
Web.config
Web.config
Web.config
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/SavingsManager.pdb
