@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset style="width: 400px">
    <legend>Nuevo Plan</legend>
    <br /><br />
    <table id="groupInfoTbl">
        <tr>
            <td style="width: 200px;"><label>Nombre:</label></td>
            <td style="width: 200px;"><input id="planNombreTxt" /></td>
        </tr>
        <tr>
            <td style="width: 200px;"><label>Descripcion:</label></td>
            <td style="width: 200px;"><input id="planDescripcionTxt" /></td>
        </tr>
        <tr>
            <td style="width: 200px;"><label>Duracion:</label></td>
            <td style="width: 200px;"><input id="planDuracionTxt" /></td>
        </tr>
        <tr>
            <td style="width: 200px;"><label>Periodicidad:</label></td>
            <td style="width: 200px;"><input id="planPeriodicidadTxt" /></td>
        </tr>
        <tr>
            <td style="width: 200px;"><label>MontoCuota:</label></td>
            <td style="width: 200px;"><input id="planMontoCuotaTxt" /></td>
        </tr>
        <tr>
            <td style="width: 200px;"><label>FechaInicial:</label></td>
            <td style="width: 200px;"><input id="planFechaInicialTxt" /></td>
        </tr>
        <tr>
            <td style="width: 200px;"><label>FechaFinal:</label></td>
            <td style="width: 200px;"><input id="planFechaFinalTxt" /></td>
        </tr>
        <tr><td colspan="2"></td>
        </tr>
    </table>
</fieldset>
<br /><br />

<div id="bottonsDiv" style="width: 400px; margin-right: 5px">
    <input id="AddPlanBtn" class="k-button" value="Guardar" />
    <input id="cancelAddingPlanBtn" class="k-button" value="Cancelar" />
</div>