@{
    ViewBag.Title = "Home Page";
}


    <h2>Savings Manager</h2>    


<p>
    Permite la gestión de ahorros colectivos, desde la creación de los grupos y planes  de ahorro,
    la afiliación de los asociados, hasta el registro de los aportes de ahorro.
<br>
    Además permite tener acceso a reportes sobre el estado de cuenta de los ahorros recaudados
</p>
