@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Listado de Ahorros</h2>

<br /><br />
<br /><br />

<div id="ahorrosDiv">
    <div id="ahorrosGrid"></div>
</div>

<div id="delete-ahorro-dialog-confirm" title="Eliminar Ahorro" style="display: none">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>¿Está seguro que desea eliminar este ahorro?</p>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/ahorros")