@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<fieldset>
    <legend>Listado de Ahorros</legend>
    <br /><br />

    <div id="ahorrosDiv">
        <div id="ahorrosGrid"></div>
    </div>
</fieldset>

<div id="delete-ahorro-dialog-confirm" title="Eliminar Ahorro" style="display: none">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>¿Está seguro que desea eliminar este ahorro?</p>
</div>
